<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ver Produtos</title>
    <link rel="stylesheet" href="../assets/style.css">
    <link rel="stylesheet" href="../assets/verTodos.css">
</head>
<body>
    <header class="cabecalho">        
        <h1 class="logo">Estoque Central</h1>       
        <nav>
            <ul class="menu">
                <li>
                    <a class="item_menu" href="index.html">Início</a>
                </li>
                <li>
                    <a class="item_menu" href="cadastro.html">Cadastro</a>
                </li>
                <li>
                    <a class="item_menu" href="verProdutos.html">Ver Produtos</a>
                </li>
            </ul>
        </nav>
    </header>
    <section class="principal">
        <div class="sessao">
            <h2 class="subtitulo">Lista de produtos</h2>
            <div id="container" class="container">

                <!-- divs falsa para alimentar o estoque direto na tela...
                pois agora eles puxam direto do banco. -->

                <!-- <div class="card">
                    <h3>Notebook HP</h3>
                    <p>Notebook HP i7, 16GB Ram, 480GB SSD</p>
                    <p><strong>Preço:</strong> R$ 8.000,00</p>
                    <p><strong>Quantidade:</strong> 30</p>
                    <p><strong>Categoria:</strong> Eletrônicos</p>
                </div>

                <div class="card">
                    <h3>Mesa de Escritório</h3>
                    <p>Mesa estruturada de ferro, com pintura eletrostática e tampo madeira</p>
                    <p><strong>Preço:</strong> R$ 2.000,00</p>
                    <p><strong>Quantidade:</strong> 10</p>
                    <p><strong>Categoria:</strong> Móveis</p>
                </div>

                <div class="card">
                    <h3>Camisa Tech</h3>
                    <p>Camisa de algodão com cola em V </p>
                    <p><strong>Preço:</strong> R$ 25,00</p>
                    <p><strong>Quantidade:</strong> 350</p>
                    <p><strong>Categoria:</strong> Vestuário</p>
                </div>

                <div class="card">
                    <h3>Livro Codando com a Tech</h3>
                    <p>Livro de capa com referência a códigos limpos</p>
                    <p><strong>Preço:</strong> R$ 80,00</p>
                    <p><strong>Quantidade:</strong> 12</p>
                    <p><strong>Categoria:</strong> Livros</p>
                </div> -->
            </div>

        </div>
    </section>
    <footer class="rodape">
        <p>&copy 2024 Estoque Central, todos os direitos reservados, qualquer dúvida entre em contato pelo e-mail:
            mrodrigues.mm83@gmail.com</p>
    </footer>

    <script src="../controllers/verTodos.js"></script>
    
</body>

</html>