<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estoque Central</title>
    <link rel="stylesheet" href="../assets/style.css">
</head>

<body>
    <header class="cabecalho">
        <h1 class="logo">Estoque Central</h1>
        <nav>
            <ul class="menu">
                <li>
                    <a class="item_menu" href="index.html">Início</a>
                </li>
                <li>
                    <a class="item_menu" href="cadastro.html">Cadastro</a>
                </li>
                <li>
                    <a class="item_menu" href="verProdutos.html">Ver Produtos</a>
                </li>
            </ul>
        </nav>
    </header>
    <section class="principal">
        <div class="sessao">
            <h2 class="subtitulo">Gerencie o estoque do seu comércio com facilidade!</h2>
            <p>No <span class="destaque">Estoque Central</span>, você pode:</p>
            <ul class="lista_funcionalidades">
                <li>Cadastrar novos produtos;</li>
                <li>Atualizar informações de estoque;</li>
                <li>Excluir produtos obsoletos;</li>
                <li>Visualizar todos os itens disponíveis;</li>
            </ul>
            <p>Simples, rápido e eficiente!</p>
        </div>
    </section>
    <footer class="rodape">
        <p>&copy 2024 Estoque Central, todos os direitos reservados, qualquer dúvida entre em contato pelo e-mail:
            mrodrigues.mm83@gmail.com</p>
    </footer>
</body>

</html>