<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ver Produtos</title>
    <link rel="stylesheet" href="../assets/style.css">
    <link rel="stylesheet" href="../assets/verTodos.css">
</head>

<body>
    <header class="cabecalho">
        <h1 class="logo">Estoque Central</h1>
        <nav>
            <ul class="menu">
                <li>
                    <a class="item_menu" href="index.html">Início</a>
                </li>
                <li>
                    <a class="item_menu" href="cadastro.html">Cadastro</a>
                </li>
                <li>
                    <a class="item_menu" href="verProdutos.html">Ver Produtos</a>
                </li>
            </ul>
        </nav>
    </header>
    <section class="principal">
        <div class="sessao">
            <h2 class="subtitulo">Lista de produtos</h2>
            <div id="container" class="container"></div>
        </div>
    </section>
    <footer class="rodape">
        <p>&copy 2024 Estoque Central, todos os direitos reservados, qualquer dúvida entre em contato pelo e-mail:
            mrodrigues.mm83@gmail.com</p>
    </footer>

    <script src="../controllers/verTodos.js"></script>

</body>

</html>